body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  background-color: #fff;
  color: #051236;
}

* {
  box-sizing: border-box;
}

.header {
  background-color: #1B242F;
  width: 100%;
  height: max-content;
  color: #fff;

  border-bottom: 0.2em solid #04C2C9;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}
.top-header-items {
  background-color: #1B242F;
  width: 100%;
  height: max-content;
  color: #fff;

  border-bottom: 0.2em solid #04C2C9;

  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
  overflow: hidden;
}

.headerLogo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-items-desktop {
  display: none;
  align-items: center;
  justify-content: center;
}
.header-items-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 0;
}



.logo {
  height: 2rem;
  margin: 0.1rem;
}
.container {
  background-color: #fff;
  
}
a:link {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}
a #hide {
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  top: -10px;
 }

.footer {
  background-color: #1B242F;
  width: 100%;
  height: fit-content;
  color: white;
  padding-top: 0.2em;
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
/* Allow for customization of different portfolio items */
.portfolio-item {
  max-width: 100vw;
  color: #333;
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.about-text {
  margin: 0 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.align-portfolio {
  max-width: 95vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.by-text {
  font-size: 0.8rem;
  margin-bottom: 0.5em;
  margin-top: 0;
}

.footer-link {
  margin: 0 0.2em;
}
.footer-links {
  width: 30%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.menu {
  height: 2rem;
  margin-right: 0.5rem;
  margin-top: 0.3rem;
}
.header-item {
  margin: 0.5em 1em;
  text-decoration: none;
  opacity: 1;
  font-weight: 400;
  transition: 200ms;
}
.header-item:hover {
  opacity: 0.5;
}
@media (min-width: 600px) {
  .header-items-desktop {
    display: flex;
  }
  .header-mobile {
    display: none;
  }
  .header-items-mobile {
    display: none;
  }
  .align-portfolio {
    max-width: 90vw;
  }
  .portfolio-item {
    max-width: 70vw;
  }
}